* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #4b2e2e; 
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

.buttons ul {
    border: 6px solid rgb(0, 0, 0);
    padding: 0;
}

.buttons li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

.buttons li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    padding: 9px;
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    color: rgb(255, 215, 0);
    transition: ease 0.4s;
}

.container {
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 15px;
}

.hero-text h1 {
    font-size: 4.6rem;
    margin-bottom: 12px;
    color: #8b4513;
}

.hero-text p {
    font-size: 1.8rem;
    margin-bottom: 12px;
}

button {
    padding: 1em 2.1em 1.1em;
    border-radius: 4px;
    margin: 8px;
    border: none;
    background-color: #e2e273;
    color: #000000;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2rem 0em #e2e273 inset;
    transition: color 3s ease-in-out;
}


