body{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.landing{
    position: relative;
    margin: 60% auto;
    width: 50%;
    height: auto;
    margin-top: 300px;
    margin-left: 300px;
    height: 250px;
    background-color: rgb(0, 51, 160);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.image {
    width: 40%;
    position: absolute;
    left: 60%;
    top: 5%;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.info{
    color: rgb(255, 215, 0);
    font-family: 'Orbitron', sans-serif;
}

.description{
    color: rgb(255, 255, 255);
}

.buttons ul {
    border: 6px solid rgb(0, 0, 0);
    padding: 0;
}

.buttons li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

.buttons li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    padding: 9px;
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    color: rgb(255, 215, 0);
    transition: ease .4s;
}

