* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.buttons ul {
    border: 6px solid rgb(0, 0, 0);
    padding: 0;
}

.buttons li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

.buttons li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    padding: 9px;
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    color: rgb(255, 215, 0);
    transition: ease 0.4s;
}

#hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
    url("https://insanelygoodrecipes.com/wp-content/uploads/2020/02/Burger-and-Fries.jpg")
      no-repeat center bottom / cover;
  color: whitesmoke;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
}

#hero .info h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
}

#hero .info h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#hero .info p {
  font-size: 1.2rem;
  max-width: 50%;
}

#hero .info a {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 0.5em 2em;
  margin-top: 2rem;
  color: #ee6c09;
}

.info-content {
  border-left: 2px solid #ee6c09;
  padding-left: 1rem;
}

